
.register{

    .card{
        background-color: #f9fafb !important;
        height: 90vh;
        width: 50vh;
        background-color: ;
        
        .register-img{
            img{
                background-color: red !important;
                width: 200px;
                border-radius: 90px;
                padding: 10px;
                // position: absolute;
                // top: -40px;
                // z-index: 99;
                // z-index: 999px;
                // z-index: 999px;
                // position: relative;
                // top: 90px;
                // overflow: hidden;
    
            }
        }
    }
}