// $red: #ef645b;
$red:#6573EB;

.button{
    .btn{
        color: #fff;
        cursor: pointer;
        font-size:16px;
        font-weight: 400;
        line-height: 35px;
        margin: 0 0 0.5em;
        max-width: 160px; 
        text-transform: uppercase;
        width: 100%; 
        background: lighten($red, 3%);  
        border: 1px solid darken($red, 4%);
        box-shadow: 0px 2px 0 grey, 2px 4px 6px grey;
        letter-spacing: 1px;
        transition: all 150ms linear;
        &:hover{
            outline: none;
            background: darken($red, 1.5%);
            border: 1px solid rgba(#000, .05);
            box-shadow: 1px 1px 2px rgba(#fff, .2);
            color: lighten($red, 18%); 
            text-decoration: none;
            text-shadow: -1px -1px 0 darken($red, 9.5%);
            transition: all 250ms linear;
        }
    }
}