$red: #ef645b;
$white: #fff;
$blue:#6573EB;
$green:#2ddaa5;
$yellow: #ffc054;
.profile{
    .name{
        margin-top: -3.9rem !important;
        font-size: 18px;
        font-weight: 600;
    }
    span{
        font-size: 17px;
        font-weight: 600;
    }
    h1{
        color: $green;
    }
    .progress-bar{
        background-color: #f5f7f7 !important;
    }
    .userData{
        img{
            width: 120px;
            border-radius: 10px;
            margin-bottom: 10px !important;
        }
        p{
            font-size: 17px;
            font-weight: 600;
            margin: 0 !important;
        }
    }
}