$red: #ef645b;
$white: #fff;
$blue:#6573EB;
$green:#2ddaa5;
$yellow: #ffc054;

.quiz-category{
    .text{
        font-size: 17px;
        color: rgb(89, 88, 88);
        font-weight: 600;
        margin-top: -20px !important;
        margin-bottom: 30px !important;
    }
    .category{
        border-radius: 90px;
        height: 100%;
        padding: 41px 0 41px 0;
        p{
            color: rgb(253, 253, 253);
        }   
    }
    .category1{
        // border: 10px solid $blue;
        background-color: $yellow
    }
    .category2{
        background-color: $green;

    }
    .category3{
        background-color: $red;

    }
}