$red: #ef645b;
$white: #fff;
$blue:#6573EB;
$green:#2ddaa5;
$yellow: #ffc054;
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

.result{
    .status{
        margin-top: -3rem;
    }
    h2{
        font-family: 'Do Hyeon', sans-serif;
        font-size: 35px;
        color: $red;
    }
    h1{
        font-family: 'Do Hyeon', sans-serif;
        font-size: 35px;
        color: $green;
    }
    p{
        font-weight: 600;
        font-size: 18px;
    }
    .progress-bar{
        background-color: #f5f7f7 !important;
            flex-direction: row !important;
    }
}