.tab {
    position: absolute;
    bottom: 0;
    width: 100%;
    .cards {
        background-color: #f5f7f7;
        padding: 10px;
        padding-left: 4px;
        padding-right: 8px;
        width: 40%;
        box-shadow: 
          0 0 4px #adadad;
        margin-left: 29%;
        text-align: center;
        a{
            text-decoration: none;
          }
          div {
            display: inline;
            padding-left: 7%;
            padding-right: 7%;
            // font-family: "Raleway", sans-serif;
            color: #00acd1;
            font-size: 14px;
            font-weight: 500;
          }
          .div1 {
            border-right: 1px solid #bfbfbf;
            height: 10px;
      }
  }}