$red: #ef645b;
$white: #fff;
$blue:#6573EB;
$green:#2ddaa5;

.signup-img{
    padding: 2px;
    height: auto;
    display: block !important;
    position: relative;
    top:-65px;
    &:active img {
        animation: spin 2s linear infinite;
    }
    img{
        width: 150px;
        border-radius: 90px;
        padding: 12px 10px 12px 10px;
        background-color:white !important;
        border: 4px dashed $green;
        animation: spin 10s linear infinite;
    }
}
.form{
    margin-top: -20px; 
    p{
        font-size: 13px;
        color: $blue;
        cursor: pointer;
    }
    a{
        text-decoration: none;
    }
}
.form{
    input{
        margin: 12px !important;
        border: none;
        background-color: #f5f7f7;
        box-shadow: 0 4px 2px -2px #c5c7c5,
        0px 0px 5px #c5c7c5,
        -4px -4px 4px white,
        inset 5px 5px 4px white;
        border-radius: 5px;
        color: #6573EB;
        width: 90%;
        padding: 10px 10px 10px 10px;
        &::placeholder{
            color: #6573EB;
        }
        &:focus{
            outline: none;
            // border:2px solid #6573EB;
        }
    }
}
  
@keyframes spin { 
    100% { 
      transform: rotateZ(360deg);
    }
}
  